@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(./lJAvZoKA5NttpPc9yc6lPQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(./HQXBIwLHsOJCNEQeX9kNz3hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}